<div class="row">
  <!-- Main Tab Group: Stock Selection -->
  <div class="col-12">
    <div class="d-flex mb-3">
      <button 
        *ngFor="let stock of stocks; let i = index" 
        class="btn me-2" 
        [ngClass]="{'btn-primary': activeStockTab === i, 'btn-outline-primary': activeStockTab !== i}"
        (click)="setActiveStock(i)">
        {{ stock.symbol }}
      </button>
    </div>
  </div>
</div>

<!-- Stock Summary Card -->
<div class="row">
  <div class="col-12">
    <app-card *ngIf="stocks[activeStockTab]" blockClass="dashboard-card">
      <h4 class="fw-bold">{{ stocks[activeStockTab].name }}</h4>

      <!-- Sub Tab Group: Sections inside Stock Summary -->
      <div class="d-flex mb-3">
        <button 
          *ngFor="let tab of subTabs; let i = index" 
          class="btn me-2" 
          [ngClass]="{'btn-primary': activeSubTab === i, 'btn-outline-primary': activeSubTab !== i}"
          (click)="setActiveSubTab(i)">
          {{ tab.label }}
        </button>
      </div>

      <!-- Sub Tab Content -->
      <div *ngIf="activeSubTab === 0">
        <apx-chart 
          *ngIf="chartOptionsStock"
          [series]="chartOptionsStock.series"
          [chart]="chartOptionsStock.chart"
          [xaxis]="chartOptionsStock.xaxis"
          [yaxis]="chartOptionsStock.yaxis"
          [stroke]="chartOptionsStock.stroke"
          [tooltip]="chartOptionsStock.tooltip">
        </apx-chart>

        <!-- <apx-chart 
        *ngIf="chartSeries[activeStockTab]?.length > 0"
        [series]="chartSeries[activeStockTab]" 
        [chart]="{ type: 'line', height: 350 }"
        [xaxis]="{
          categories: ['Point 1', 'Point 2', 'Point 3', 'Point 4', 'Point 5', 'Point 6', 'Point 7', 'Point 8', 'Point 9', 'Point 10', 'Point 11']
        }"
        [stroke]="{ curve: 'smooth', width: 2 }"
        
        >
      </apx-chart> -->
      <!-- <div echarts [options]="chartOptionsec" class="chart-container"></div> -->
      </div>

      
      <div *ngIf="activeSubTab === 1">
            <apx-chart 
            *ngIf="chartOptionsPredicted"
            [series]="chartOptionsPredicted.series"
            [chart]="chartOptionsPredicted.chart"
            [xaxis]="chartOptionsPredicted.xaxis"
            [yaxis]="chartOptionsPredicted.yaxis"
            [stroke]="chartOptionsPredicted.stroke"
            [tooltip]="chartOptionsPredicted.tooltip">
          </apx-chart>
      </div>

      <div *ngIf="activeSubTab === 2">
        <p class="p-3 bg-light border rounded">{{ insight }}</p>
      </div>

      <div *ngIf="isGuest == false && activeSubTab === 3">
        <textarea [(ngModel)]="feedbackText" class="form-control" rows="3" placeholder="Enter your feedback"></textarea>
        <button class="btn btn-primary mt-2" (click)="submitFeedback()">Submit</button>
      </div>
    </app-card>
  </div>
</div>
<style>
  .chart-container {
  width: 100%;
  height: 400px;
}
</style>